<style></style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://interaktivni.rozhlas.cz/data/volby-17-socsite/charts/charts.js"></script>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/uploader/kampane_170728-234738_rez.jpg');"><span class="b-data__caption">Foto Kristýna Novotná</span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>ČSSD píše o mzdách, migraci se věnují jen komunisti a SPD.<br>Stranický Facebook ukazuje priority partají</strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Jan Cibulka a Kristýna Novotná</a>
	<span class="meta__separator">|</span>
	<time>19. října 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">Politické strany na Facebooku žijí okamžikem. Asi polovinu všech stranických příspěvků na síti tvoří čerstvé momentky z kontaktní kampaně. Ze zbytku ale vystupují hlavní témata, se kterými jdou strany do voleb. Ukázala to analýza výzkumníků z Masarykovy univerzity.</p>

<p>Kontaktní kampani se nejvíce věnuje hnutí ANO - v celkem 59 % příspěvků. U něj i u ostatních stran ale platí, že zbylá komunikace odráží partajní priority. Například sociální demokraté věnují 14 % svých statusů mzdovým podmínkám v Česku, zatímco u ostatních stran téma tvoří maximálně jedno procento facebookové komunikace. U ČSSD je výrazné i zaměření na sociální politiku či nezaměstnanost, i když tady jsou si partaje o poznání blíže.</p>
<p>Dalším výrazným programovým zaměřením je otázka migrace. Jak klesá zájem veřejnosti a médií o uprchlickou problematiku, mizí téma i z komunikace stran. Klíčové však zůstává pro SPD Tomia Okamury, v o něco menší míře pak i u komunistů.</p>
<p><em>Jaká témata strany komunikují na svých facebookových profilech, můžete prozkoumat v následující grafice. Ukazuje, kolik procent příspěvků strana věnovala danému tématu.</em></p>
<p></div><div class="row-main row-main--article">
<div id="temata_strany" style="min-width: 310px; max-width: 1000px; height: 800px; max-width: 1000px; margin: 0 auto"></div>
</div><div class="row-main row-main--narrow"></p>
<p>Pokud jde o negativní kampaň a vymezení se proti ostatním, se skoro 10 procenty vedou Piráti, v závěsu za nimi jsou ale i komunisti, SPD a ODS.</p>
<p>Místopředseda Pirátů a lídr strany na Pardubicku Mikuláš Ferjenčík však závěry analýzy odmítá. „Nemyslím si, že bychom šli cestou negativní kampaně. Ta kampaň je naopak pozitivní. Je to kampaň za vymahatelnost práva, kampaň za to, aby se korupční kauzy vyšetřovaly, kampaň za nezávislost justice. My se celou dobu snažíme vysvětlovat svůj program a i na tom autobusu je zadní strana, která se věnuje programu Pirátský strany do voleb,“ popsal.</p>
<p>Vůči negativní kampani se vymezuje i KSČM. „Nejde o to bojovat s uprchlíky, ale bránit prostor České republiky před určitým bezpečnostním rizikem, které mohou někteří uprchlíci, o kterých nic nevíme, sebou přinášet a samozřejmě je to i obrana vůči narušování suverenity Česka ze strany Bruselu,“ řekl poslanec a dvojka pražské kandidátky KSČM Jiří Dolejš.</p>
<p>Negativní je kampaň spolu s osobním životem politiků a prezentací programu jedním z častějších témat i u lidovců a ANO, celkově však komunikují spíše pozitivně. „Té negace od tradičních politických stran je ve veřejném prostoru až příliš moc. My jsme chtěli lidem v České republice pozitivní cestou představit náš program a se vší vážností jim popsat, jaké jsou priority hnutí ANO, pokud nám v těchto důležitých volbách, kde je o všechno, dají svůj hlas,“ vysvětlil mluvčí ANO Vladimír Vořechovský.</p>
<p>Podle vedoucího výzkumu Miloše Gregora komunikace hnutí ANO odráží způsob, jak většina uživatelů Facebook používá. „Málokdo z nás si chce na Facebooku číst analýzy nebo programová prohlášení. Hnutí se celkově snaží komunikovat spíše emočně, díky čemuž se částečně vyhýbá diskuzi s uživateli Facebooku o programových bodech a věcných argumentech,“ napsal serveru iROZHLAS.cz.</p>
<p><em>Komunikační témata vybraných stran jsou shrnutá v následujícím grafu (kromě momentek z kontaktní kampaně, které tvoří asi polovinu celku).</em></p>
<p></div><div class="row-main row-main--article">
<div id="temata" style="min-width: 300px; max-width: 1000px; height: 400px; margin: 0 auto"></div>
</div><div class="row-main row-main--narrow"></p>
<p>KDU-ČSL se profiluje na otázkách rodiny, zemědělství a školství, příliš ale nemluví o ekonomice nebo povolebním vyjednávání, negativní kampani se také vyhýbá. Obecně opadl zájem o témata spojená s minulými lety, jako je korupce a energetika, partaje se pak, s výjimkou ČSSD a ANO, také příliš nevyjadřují k dopravě.</p>
<p>S blížícím se termínem voleb jsou stranické profily čím dál aktivnější. Týká se to zejména mladších stran, jako jsou Piráti, ANO nebo SPD; poměrně aktivní jsou i lidovci. Aktivita partají obvykle kulminuje v polovině týdne, přičemž zejména komunisti přispívají na FB v pravidelném rytmu.</p>
<p></div><div class="row-main row-main--article">
<div id="cas" style="min-width: 310px; max-width: 1000px; height: 400px; margin: 0 auto"></div>
</div><div class="row-main row-main--narrow"></p>
<h2>Jak analýza vznikala</h2>
<p>Výzkumníci pod vedením Miloše Gregora z <a target="_blank" href="https://www.facebook.com/politologiefss/ ">katedry politologie FSS Masarykovy univerzity</a> ohodnotili přes 7 tisíc příspěvků na celostátních a krajských FB profilech stran, šlo o příspěvky od 1. září a 13. října. Politologové se věnovali osmi partajím, které vytipovali na základě volebních průzkumů během července a srpna.</p>
<p>Kódování probíhalo podle upravené <a target="_blank" href="https://manifesto-project.wzb.eu/">metodiky CMP</a> a jednotlivý pracovníci prošli testem, který měl za úkol sjednotit vnímání a kódování proměnných.</p>
<p>„Metoda je užívána akademiky na tematické třídění volebních programů po celém světě, jedná se tedy o osvědčenou a spolehlivou metodu,“ napsal Gregor. Připustil ale, že určitou slabinou je rozhodování jednotlivce, který zařazování příspěvků provádí. „Některé statusy mohou být vícetematické. Kodér pak musí na základě svého nejlepšího uvážení rozhodnout, které téma podle něj ve statusu převažuje,“ vysvětlil.</p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Jan Cibulka a Kristýna Novotná</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script></script>
